body{
text-align:center;
background-image: url("../images/background.jpg");
font-family: 'Risque', cursive;
}

#logo{
    width:12%;
    height:auto;
}

h1, h3{
color: white;
display:inline-block;
}

#container {
    width : 73%;
    max-width:650px;
    height : 78%;
    background-color : white;
    display:inline-block;
    padding-top:10px;
    margin:20px;
    text-align :center;
}

@media (max-width: 720px) {
 #container {
    width:100%;
    margin : 5px 0px;

     }
 }

#left{
    color: white;
    font-size: 20px;
    margin: 10px;
    display:inline-block;
}

ul {
    padding: 0px;
    margin: 0px;
    }

li {
  padding: 0;
  float: left;
  margin: 10px;
  list-style: none;
  outline: solid;
  width: 120px;
  height: 18%;
  text-align :center;
  background: url("../images/logo.jpg");
}

img {
  width: 120px;
  height: 120px;
  text-align : center;
  display : inline-block;
}

img{
    background-color: green;
}

.show{
    display: inline-block;
}

.hid{
    opacity:0;

}

.reversed{

}

.match{
    display: inline-block;
    border: 2px solid lightgreen;
}